<nav class="header-nav-mob">
    <div class="header-nav-mob__overlay">
    </div>
    <div class="header-nav-mob__wrapp">
        <button class="toggle-menu toggle-menu--close">
            <span></span>
            <span></span>
        </button>
        <ul class="header-nav-mob__list">
            <li>
                <a href="#technologies" class="header-nav-mob__link">
                    About Us
                </a>
            </li>
            <li>
                <a href="#process" class="header-nav-mob__link">
                    Contact Us
                </a>
            </li>
            <li>
                <a href="#price" class="header-nav-mob__link">
                    Service Breakdown
                </a>
            </li>
            <li>
                <a href="#footer" class="header-nav-mob__link">
                    Help
                </a>
            </li>
        </ul>
        <a href="#" class="menu-batton">
            Claim your free session
        </a>
    </div>
</nav>
