<section class="features">
    <div class="container">
        <div class="features__wrap">
            <div class="features__wrap-title">
                <h2 class="features__title">
                    Get a degree from your dream college by
                    reducing the financial burden off your parents
                </h2>
                <div class="features__line"></div>
                <h4 class="features__subtitle">
                    Get reputable work experience while studying so that
                    you never have to worry about
                </h4>
            </div>
            <div class="features__block-wrap">
                <div class="features__block">
                    <div class="features__block-head">
                        <div class="features__block-number">
                            1
                        </div>
                        <div class="features__block-title">
                            Pursue your dreams without being held back by money
                        </div>
                    </div>
                    <p class="features__block-text">
                        Afford your regular expenses by
                        working a few hours every week at a place of your choice.
                    </p>
                    <div class="features__block-img">
                        <img src="url:./assets/images/features-arrow.png" alt="arrow">
                    </div>
                </div>
                <div class="features__block">
                    <div class="features__block-head">
                        <div class="features__block-number">
                            2
                        </div>
                        <div class="features__block-title">
                            Be able to explore UK and live in the city of your choice
                        </div>
                    </div>
                    <p class="features__block-text">
                        Cover your hostel fees as well through no extra effort and live comfortably &
                        safely.
                    </p>
                    <div class="features__block-img">
                        <img src="url:./assets/images/features-frame.png" alt="frame">
                    </div>
                </div>
                <div class="features__block">
                    <div class="features__block-head">
                        <div class="features__block-number">
                            3
                        </div>
                        <div class="features__block-title">
                            No worries about paying for your daily living expenses
                        </div>
                    </div>
                    <p class="features__block-text">
                        Have more than enough money for travel, groceries, eating out, & other general expenses.
                    </p>
                    <div class="features__block-img">
                        <img src="url:./assets/images/features-box.png" alt="box">
                    </div>
                </div>
            </div>
            <div class="features__button-wrap">
                <a href="#" class="features__button">
                    GET ACCESS TO THE TRAINING
                </a>
                <p class="features__button-text">
                    Hurry up, seats for today’s free training is almost gone!
                </p>
            </div>
        </div>
    </div>
</section>