<section class="loans">
    <div class="container">
        <div class="loans__wrap">
            <div class="loans__content">
                <div class="loans__content-left">
                    <h2 class="loans__title">
                        Be able to pay back your loans
                        3 times faster than usual!
                    </h2>
                    <p class="loans__subtitle">
                        Why take on that extra burden of high interest rates and spending
                        years to pay back the educational loan?
                    </p>
                    <div class="loans__button-wrap">
                        <a href="#" class="loans__button">
                            Join the Training
                        </a>
                    </div>
                </div>
                <div class="loans__content-right">
                    <img src="url:./assets/images/loans-block.png" alt="loans">
                </div>
            </div>
            <div class="loans__advantage">
                <div class="loans__advantage-wrap">
                    <ul class="loans__advantage-list">
                        <li class="loans__item">
                            <svg width="56" height="56" viewBox="0 0 56 56" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect width="56" height="56" rx="28" fill="#56FF1B"/>
                                <path d="M36.0847 18L23.8559 30.2288L19.8898 26.2627L16 30.1525L19.9661 34.1187L23.8813 38.0339L27.7712 34.1441L40 21.9153L36.0847 18Z"
                                      fill="white"/>
                            </svg>
                            <p>
                                Save your hard earned money
                            </p>
                        </li>
                        <li class="loans__item">
                            <svg width="56" height="56" viewBox="0 0 56 56" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect width="56" height="56" rx="28" fill="#56FF1B"/>
                                <path d="M36.0847 18L23.8559 30.2288L19.8898 26.2627L16 30.1525L19.9661 34.1187L23.8813 38.0339L27.7712 34.1441L40 21.9153L36.0847 18Z"
                                      fill="white"/>
                            </svg>
                            <p>
                                Start building your career from the word GO’
                            </p>
                        </li>
                    </ul>
                    <ul class="loans__advantage-list">
                        <li class="loans__item">
                            <svg width="56" height="56" viewBox="0 0 56 56" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect width="56" height="56" rx="28" fill="#FF1B1B"/>
                                <path d="M35.9981 16L28 24.0009L20.0019 16L16 20.0019L24.0009 28L16 35.9981L20.0019 40L28 31.9991L35.9981 40L40 35.9981L31.9991 28L40 20.0019L35.9981 16Z"
                                      fill="white"/>
                            </svg>
                            <p>
                                Heavy interest on loans
                            </p>
                        </li>
                        <li class="loans__item">
                            <svg width="56" height="56" viewBox="0 0 56 56" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect width="56" height="56" rx="28" fill="#FF1B1B"/>
                                <path d="M35.9981 16L28 24.0009L20.0019 16L16 20.0019L24.0009 28L16 35.9981L20.0019 40L28 31.9991L35.9981 40L40 35.9981L31.9991 28L40 20.0019L35.9981 16Z"
                                      fill="white"/>
                            </svg>
                            <p>
                                Worry about installments
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>